PORT= #puerto de conexion del servidor

DB_HOST= #host de conexion con la base de datos || localhost
DB_PORT= #puerto de conexion con la base de datos
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_MAX_CONNECT=
DB_IDLETIMEOUT=
DB_CONNECTIONTIMEOUT=